*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: none;
}

header{
    height: 100vh;
    width: 100%;
    background-color: #0084e0;
    color: #E8F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
}